/*--------------------------------------  PAGE A PROPOS --------------------------------------*/

/*Image en background*/
.banniereInfo{
  position:absolute;
  z-index: -4;
  min-width: 100%;
}

/*Div d'informations sur l'école par dessus la bannière*/
.infoEart{
  text-align: center;
  margin-bottom: 10%;
}

/*Titre de l'information*/
.titreTxtInfo{
  color: #ffffff;
  font-size: 2.5em;
  padding-top: 10%;
}

/*Texte de l'info*/
.txtInfo{
  color: #eeeeee;
  font-size: 1.2em;
  padding: 5% 5%;
}

/*Div de la carte d'E-Artsup*/
.carteEart{
  position:relative;
  display: flex;
  justify-content: center;
  margin: 10% auto;
}

/*Image de la carte de la France*/
.map{
  position:absolute;
  margin-top: 2.5%;
  max-width: 100%;
  min-width: 10%;
  z-index: -2;
}

/*Image du background de la carte*/
.backMap{
  position:absolute;
  max-width: 100%;
  min-width: 10%;
  z-index: -3;
}

/*Div permettant de bien placer les points des villes*/
.villePosition{
  position:absolute; 
  top: 18.5em;
  max-width: 100%;
  min-width: 0%;
}

/*Point de la ville de Nantes*/
.nantes{
  position:absolute;
  right: 130px;
  top: -10px;
}

/*Point de la ville de Lille*/
.lille{
  position:absolute;
  left: 23px;
  bottom: 172px;
}

/*Point de la ville de Paris*/
.paris{
  position:absolute;
  bottom: 48px;
}

/*Point de la ville de Strasbourg*/
.strasbourg{
  position:absolute;
  bottom: 40px;
  left: 210px;
}

/*Point de la ville de Bordeaux*/
.bordeaux{
  position:absolute;
  right: 90px;
  top: 140px;
}

/*Point de la ville de Lyon*/
.lyon{
  position:absolute;
  top: 80px;
  left: 105px;
}

/*Point de la ville de Montpellier*/
.montpellier{
  position:absolute;
  top: 216px;
  left: 58px;
}

/*Point de la ville de Toulouse*/
.toulouse{
  position:absolute;
  right: 0px;
  top: 205px;
}

/*Titre de la pop-up d'information de chaque ville*/
.titreInfo{
  font-size: 1.8em;
}

/*Pop-up d'information de la ville*/
.infoNantes {
  position: relative;
  text-align: center;
}

/*Texte d'information de la pop-up*/
.txtNantes {
  position: absolute;
  width:30em;
  height:15em;
  right: 12em;
  top: -6em;
  background: rgba(50, 50, 50, 0.80);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  border-radius: 30px;
  padding: 30px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

/*Lorsqu'on hover le point, la pop-up d'information apparait*/
.infoNantes:hover .txtNantes {
  visibility: visible;
  opacity: 1;
}

/*Pop-up d'information de la ville*/
.infoLille {
  position: relative;
  text-align: center;
}

/*Texte d'information de la pop-up*/
.txtLille {
  position: absolute;
  width:30em;
  height:15em;
  left: 5.5em;
  bottom: 4.5em;
  background: rgba(50, 50, 50, 0.80);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  border-radius: 30px;
  padding: 30px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

/*Lorsqu'on hover le point, la pop-up d'information apparait*/
.infoLille:hover .txtLille {
  visibility: visible;
  opacity: 1;
}

/*Pop-up d'information de la ville*/
.infoParis {
  position: relative;
  text-align: center;
}

/*Texte d'information de la pop-up*/
.txtParis {
  position: absolute;
  width:30em;
  height:15em;
  right: 1em;
  top: -12em;
  background: rgba(50, 50, 50, 0.80);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  border-radius: 30px;
  padding: 30px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

/*Lorsqu'on hover le point, la pop-up d'information apparait*/
.infoParis:hover .txtParis {
  visibility: visible;
  opacity: 1;
}

/*Pop-up d'information de la ville*/
.infoStrasbourg {
  position: relative;
  text-align: center;
}

/*Texte d'information de la pop-up*/
.txtStrasbourg {
  position: absolute;
  width:30em;
  height:15em;
  left: 17em;
  bottom: -4em;
  background: rgba(50, 50, 50, 0.80);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  border-radius: 30px;
  padding: 30px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

/*Lorsqu'on hover le point, la pop-up d'information apparait*/
.infoStrasbourg:hover .txtStrasbourg {
  visibility: visible;
  opacity: 1;
}

/*Pop-up d'information de la ville*/
.infoBordeaux {
  position: relative;
  text-align: center;
}

/*Texte d'information de la pop-up*/
.txtBordeaux {
  position: absolute;
  width:30em;
  height:15em;
  right: 9.5em;
  top: 3em;
  background: rgba(50, 50, 50, 0.80);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  border-radius: 30px;
  padding: 30px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

/*Lorsqu'on hover le point, la pop-up d'information apparait*/
.infoBordeaux:hover .txtBordeaux {
  visibility: visible;
  opacity: 1;
}

/*Pop-up d'information de la ville*/
.infoLyon {
  position: relative;
  text-align: center;
}

/*Texte d'information de la pop-up*/
.txtLyon {
  position: absolute;
  width:30em;
  height:15em;
  left: 10.5em;
  top: -1em;
  background: rgba(50, 50, 50, 0.80);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  border-radius: 30px;
  padding: 30px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

/*Lorsqu'on hover le point, la pop-up d'information apparait*/
.infoLyon:hover .txtLyon {
  visibility: visible;
  opacity: 1;
}

/*Pop-up d'information de la ville*/
.infoMontpellier {
  position: relative;
  text-align: center;
}

/*Texte d'information de la pop-up*/
.txtMontpellier {
  position: absolute;
  width:30em;
  height:15em;
  left: 7.5em;
  top: 7em;
  background: rgba(50, 50, 50, 0.80);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  border-radius: 30px;
  padding: 30px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

/*Lorsqu'on hover le point, la pop-up d'information apparait*/
.infoMontpellier:hover .txtMontpellier {
  visibility: visible;
  opacity: 1;
}

/*Pop-up d'information de la ville*/
.infoToulouse {
  position: relative;
  text-align: center;
}

/*Texte d'information de la pop-up*/
.txtToulouse {
  position: absolute;
  width:30em;
  height:15em;
  right: 4em;
  top: 7em;
  background: rgba(50, 50, 50, 0.80);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  border-radius: 30px;
  padding: 30px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

/*Lorsqu'on hover le point, la pop-up d'information apparait*/
.infoToulouse:hover .txtToulouse {
  visibility: visible;
  opacity: 1;
}