* {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row { /* Configuration du catalogue */
  margin: 8px;
}

.row, /* Configuration du catalogue */
.row > .column {
  padding: 8px;
}

.column { /* Configuration du catalogue */
  float: left;
  width: 33.33%;
  display: none;
}

.row:after { /* Configuration du catalogue */
  content: "";
  display: table;
  clear: both;
}

.content { /*Placement d'une case d'un jeux dans le catalogue */
  position: relative;
  padding: 10px;

}

.show {
  display: block;
}

.btn-group .btn /* Groupe des boutons tags */
{
  background-color: #858585; 
  border: 1px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;

}

.btn-group.special /* Groupe des boutons tags */
{
  display: flex;
}

.special .btn /* Groupe des boutons tags */
{
  flex: 1
}

.btn-group .btn:not(:last-child) /* Groupe des boutons tags */
{
  border-right: none; 
}

.btn-group .btn:hover { /*Couleur du bouton lorsqu'on passe la souris dessus*/
  background-color: #D900C2;
  color: #FFFFFF;
}

.btn.active { /*Couleur du bouton tags actif*/
  background-color: #1D1D1D;
   color: white;
}

.overlay { /*Paramêtre de base de l'overlay, l'opacité est à 0 pour le cacher lorsque la souris n'est pas dessus*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #D900C2;
}

.content:hover .overlay /*Changement de l'opacité du content lorsque la souris est sur le content*/
{
  opacity: 0.9;
}

.text { /*Titre du jeux présent sur l'overlay */
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.imgJeu{ /* class des images dans le catalogue */
  display: flex;
  justify-content: center;
  height: auto;
  max-height: 300px;
  width: 100%;
}