/*--------------------------------------  PAGE CONTACT --------------------------------------*/

/*Div contenant info et logo*/
.banniereContact{
  display: flex;
  justify-content : center;
  margin: auto auto;
}

/*Information dans la bannière*/
.infoBanniere{
  margin: 5%;
}

/*Question dans la bannière*/
.question{
  text-align: center;
}

/*Message contacez nous*/
.contactUs{
  background-color: #e5007d;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 8px;

}

/*Logo E-Artsup*/
.logoEartContact{
  display: flex;
  justify-content : center;
  height: auto;
  margin: 10% auto;
  max-width: 100%;
}

/*Google Map*/
.googleMap{
  height: 500px;
  width: 100%; 
  margin-bottom: 4.5%;
}

/*Div contenant une image et un formulaire*/
.imgForm{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
  width: 100%;
}

/*Div contenant l'image des jeux*/
.imgTemplate{
  height: auto;
  max-width: 40%;
  margin-right: 12%;
}

/*Image des jeux*/
.imageTemplate{
  height: auto;
  width: 100%;
}

/*Div contenant le formulaire*/
.formulaire{
  color: black;
  width: 25%;
  margin-top: 2%;
  height: auto;
  max-width: 30%;
}

/*Les champs de texte du formulaire*/
.inputForm{
  border-radius: 2em;
  padding: 3%;
  margin: 2% 2% 2% auto;
  background-color: #e5007d;
  border-style: none;
  box-shadow: 5px 5px 15px grey;
  color: white;
  font-size: 15px;
}

/*Hover des champs de texte*/
.inputForm:hover{
  background-color: #505050;
}

/*Div contenant les boutons radio*/
.divRadio{
  padding-top: 2%;
}

/*Les boutons radio*/
.inputRadio{
  margin-right: 2%;
  margin-top: 1%;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
}

/*Champs de texte de la zone de message*/
.inputTextArea{
  border-radius: 2em;
  padding: 3%;
  margin: 2% 2% 2% auto;
  background-color: #e5007d;
  border-style: none;
  box-shadow: 5px 5px 15px grey;
  color: white;
  font-size: 15px;
  width: 85%;
  height: 30%;
  resize : none;
}

/*Hover de la zone de message*/
.inputTextArea:hover{
  background-color: #505050;
}

/*Bouton envoyer le formulaire*/
.inputSubmit{
  border-radius: 1em;
  padding: 4%;
  margin: 2% 2% 2% 58%;
  background-color: #505050;
  border-style: none;
  box-shadow: 5px 5px 15px grey;
  color: white;
  font-size: 20px;
}

/*Texte par default dans les champs de texte*/
::placeholder {
  color: white;
}