/*--------------------------------------  PAGE INDEX --------------------------------------*/

/*Tableau de données*/
table
{
 width: 100%;
 overflow-x:auto;
 margin-bottom: 10%;
}

/*Cellule du tableau*/
td
{
 text-align: center;
 vertical-align: center;
 padding: 2%;
}

/*Div accueillant le logo E-Artsup*/
.acceuilImg
{
  display: flex;
  justify-content : center;
  padding: 12% 12% 0% 12%;
  background: #ffed3b;
  height: auto;
}

/*Div accueillant le bouton en savoir plus*/
.abutton
{
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  justify-content: center;
  background: #ffed3b;
  padding: 0% 0% 12% 0%;
}

/*Bouton en savoir plus*/
.buttonacceuil
{
  background-color: black; 
  color: white;
  border: none; 
  padding: 16px 32px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 4px 2px;
}

/*Hover du bouton en savoir plus*/
.buttonacceuil:hover 
{
  background-color: #e5007d;
  color: white;
}

/*Titre des supports*/
.titresupport
{
  text-align: center;
  padding: 0.5%;
}

/*Texte des supports*/
.psupport
{
  text-align: center;
  padding: 0.5%;
}

/*Image des supports*/
.supportImg
{
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

/*Bouton menant au catalogue de jeux*/
.buttonjeux
{
  color: white;
  background-color: black; 
  border: none; 
  padding: 16px 32px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #272727;
  margin: 4px 2px;
  display: block;
  margin: auto;
}

/*Hover du bouton jeux*/
.buttonjeux:hover 
{
  background-color: white;
  color: black;
}

/*Images des partenaires*/
.partnersimage
{
 max-width: 150px;
 height: auto;
}

/*Titre des partenaires*/
.titrepartenaire
{
  display: flex;
  justify-content: center;
  padding-top: 2%;
}