body
{
  height : 200%;
}

.Templatejeux
{
	width: 100%;
	height: auto;
}

.videojeux
{
	display: flex;
	justify-content: space-around;
	padding: 2%;
}

.titrejeux
{
	font-size: 150%;
 	font-style: oblique;
}

.presentationjeux
{
	display: flex;
	flex-direction: column;
}

.parajeux
{
	padding: 2%;
}

.createur
{
    max-width: 10%;
    height: auto;
	border-radius: 50%;
}

.titrecreateur
{
 	font-size: 150%;
 	font-style: oblique;
}

.barredeseparation
{
	width: 100%;
	height: 2%;
	background-color: black;
	margin: 2% 2% 2% 0%;
	min-height: 2px;
}

.tableScreen
{
 	width: 100%;
 	overflow-x:auto;

}

.tdScreen
{
 	text-align: center;
 	vertical-align: center;
 	padding: 2%;
}

.titreScreenshots
{
 	font-size: 150%;
 	font-style: oblique;
 	margin-left: 5%;
 	padding-top: 10%;
}

.screen
{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: auto;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}