/*-------------------------------------- GENERAL --------------------------------------*/

/* Selecteur universel qui s'applique à toute la page*/
*{
	font-family: 'Oswald', ;
  margin:0;
  padding:0;
}

/*Modification de la hauteur pour pas que le footer cache les informations derrière*/
html, body {
  height: 130%;
  width: 100%;
}

/*-------------------------------------- NAVBAR --------------------------------------*/

/*Logo E-Artsup dans la Navbar*/
.logo{
	height: 50px;
}

/*Element navbar*/
.navbar-nav{
	margin-right: 5%;
	font-size: 20px;
}

/*Couleur de la navbar*/
.bg-dark{
	background-color: black!important;
}

/*Emplacement à gauche de la navbar où il y a le logo*/
.navbar-brand{
	margin-left: 20%;
	font-size: 30px;
}

/*Emplacement des onglets dans la navbar*/
.navbar-collapse{
	margin-right: 20%;
}

/*Onglet lorsqu'on passe la souris dessus*/
.nav-link:hover{
	color: black !important;
	background-color: #fce900;
}

/*Le background d'un onglet séléctionné*/
.active{
	background-color: #e5007d;
}

/*--------------------------------------  FOOTER --------------------------------------*/

/*Footer*/
.footer{
	background-color: black;
	font-size: 25px;
	color: grey;
  position: fixed; 
  bottom: 0;
  left: 0; 
  right: 0;
}

/*Liste d'éléments des réseaux sociaux*/
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

/*Chaque éléments de la liste des réseaux sociaux*/
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

/*Hyperlien extérieur qui mène aux différents réseaux sociaux*/
.social-icons a{
  background-color:#ffffff;
  color:#e5007d;
  font-size:25px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  padding-top: 8px;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

/*Hyperlien quand on passe la souris dessus*/
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}

/*Icone Facebook quand on passe la souris au dessus*/
.social-icons a.facebook:hover
{
  background-color:#3b5998
}

/*Icone Twitter quand on passe la souris au dessus*/
.social-icons a.twitter:hover
{
  background-color:#00aced
}

/*Icone Instagram quand on passe la souris au dessus*/
.social-icons a.instagram:hover
{
  background-color:#ea4c89
}